@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700i&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --lightGray: #F2F2F2;
  --gray: #F7F9FA;
  --darkGray: #D1DCE3;
  --blue: #3D75BB;
  --lightBlue: #5D9CEC;
  --focusBlue: #66AFE9;
  --textColor: #656565;
  --lightText: #CECECE;
  --white: #FFFFFF;
  --black: #000000;
  --inputBorderColor: #DDE6E9
}

body {
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: var(--textColor);
}

h1, h2 {
  font-weight: 700;
}

hr {
  border-color: var(--lightBlue);
  opacity: 0.3;
}

.container-box {
  display: flex;
  border:  1px solid var(--darkGray);
  border-radius: 4px;
  background-color: var(--white);
}

.calculation-box {
  padding: 41px 70px 18px 56px;
}

.calculation-box h1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 23px;
}

.form-group {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 11px;
}

.form-group input {
  font-weight: normal;
  background: var(--white);
  border: 1px solid var(--inputBorderColor);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 14px 9px;
  width: 100%;
}

.form-group input:focus,
.form-group input:active {
  border-color: var(--inputBorderColor);
}

.form-group .info-text {
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  color: var(--lightText);
  margin-top: 3px;
}

.result-box {
  padding: 0 35px;
  background-color: var(--gray);
  display: flex;
  align-items: center;
}

.result-box h2 {
  color: var(--blue);
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 3px;
  width: 161px;
  max-width: 100%;
}

ul li {
  color: var(--lightBlue);
  list-style-type: none;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 46px;
}


@media (max-width: 786px) 
{
  .container-box {
    flex-direction: column
  }
  .result-box {
    padding-top: 10px;
  }
  .result-box ul {
    column-count: 2;
  }
}
